/**
 * Created with JetBrains WebStorm.
 * User: qiuyun
 * Date: 13-10-18
 * Time: 上午11:40
 * To change this template use File | Settings | File Templates.
 */
body {
    background-color: #f1f1f1;
    font: 12px/1.5 "microsoft yahei", "simhei", "宋体", tahoma, arial, sans-serif;
}
.bg {
    min-width: 925px;
    background: url(../images/bg.jpg) no-repeat center top;
}
.container {
    width: 925px;
    margin: 0 auto;
    padding-bottom: 103px;
}
.header{
    height: 390px;
    overflow: hidden;
}
.logo{
    width: 176px;
    height: 100px;
    margin-left: 34px;
    margin-top: 22px;
    float: left;
}
.nav{
    width: 260px;
    height: 35px;
    margin-top: 5px;
    float: right;
    margin-right: -3px;
    overflow: hidden;
    display: inline;
}
.navBtn{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: #9c846a;
    text-decoration: none;
    font-family: \6977\4F53_GB2312, '宋体', tahoma, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    background: url(../images/indexBtns.png) no-repeat 0 0;
    float: left;
    margin-left: 9px;
}
.navBtn:hover{
    color: #b66e3c;
    background-position:0 0;
}
.navBtn1{
    background-position: 6px 6px;
}
.navBtn1:hover{
     background-position: -288px 6px;
}
.navBtn2{
    background-position: -85px 6px;
}
.navBtn2:hover{
     background-position: -379px 6px;
 }
.navBtn3{
    background-position: -169px 6px;
}
.navBtn3:hover{
     background-position: -463px 6px;
 }
.enterGame{
    display: block;
    width: 305px;
    height: 118px;
    margin-left: 565px;
    margin-top: 248px;
    background: url("../images/indexBtns.png") no-repeat scroll 15px -18px rgba(0, 0, 0, 0);
    outline: none;
}
.enterGame:hover{
    background-position: -275px -18px;
}
.slider{
    position: relative;
    width: 732px;
    height: 281px;
    margin: 49px auto 0;
}
.sliderBtn{
    position: absolute;
    width: 63px;
    height: 62px;
    top: 118px;
    outline: none;
    background: url(../images/indexBtns.png) no-repeat 0 0;
}
.sliderBtnL{
    background-position: 1px -138px;
    left: -133px;
}
.sliderBtnR{
    background-position: -128px -138px;
    right: -133px;
}
.sliderBtnL:hover{
    background-position: -64px -139px;
}
.sliderBtnR:hover{
    background-position: -193px -138px;
}
.sliderBtnL:active{
    background-position: -65px -138px;
}
.sliderBtnR:active{
    background-position: -192px -137px;
}
.shaddow{
    position: absolute;
    width: 110px;
    height: 238px;
}
.shaddowLeft{
    left: 124px;
    top: 33px;
    background: url(../images/shaddow-left.png) no-repeat;
    z-index: 110;
}
.shaddowRight{
    left: 497px;
    top: 33px;
    background: url(../images/shaddow-right.png) no-repeat;
    z-index: 110;
}
.items{
    position: relative;
}
.item{
    position: absolute;
    width: 264px;
    height: 281px;
    overflow: hidden;
}
.itemMask{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
}
.itemMask1,.itemMask5{
    filter: alpha(opacity=85); /* internet explorer */
    opacity: 0.85;           /* fx, safari, opera */
}
.itemMask2,.itemMask4{
    filter: alpha(opacity=55); /* internet explorer */
    opacity: 0.55;           /* fx, safari, opera */
}
.itemMask3{
    filter: alpha(opacity=0); /* internet explorer */
    opacity: 0;
}
.item1{
    width: 200px;
    height: 210px;
    left: 10px;
    top: 54px;
    z-index: 11;
}
.item2{
    width: 224px;
    height: 239px;
    left: 107px;
    top: 32px;
    z-index: 12;
}
.item3{
    left: 233px;
    z-index: 13;
}
.item4{
    width: 224px;
    height: 239px;
    left: 410px;
    top: 32px;
    z-index: 12;
}
.item5{
    width: 200px;
    height: 210px;
    left: 540px;
    top: 54px;
    z-index: 11;
}
.current{
    cursor: pointer;
    box-shadow: 30px 0 24px 0 rgba(0, 0, 0, 0.6), -30px 0 24px 0 rgba(0, 0, 0, 0.6);
}
.itemImg{
    width: 100%;
    height: 100%;
}
.main{
    margin-left: 34px;
    margin-top: 88px;
}
.btn{
    float: left;
    width: 209px;
    height: 111px;
    margin-left: 7px;
    background: url(../images/btn.jpg) no-repeat;
}
.btn:hover{
    width: 209px;
    height: 111px;
    background: url(../images/btn-hover.jpg) no-repeat;
}
.btn1,.btn1:hover{
    background-position: 0 0;
    margin-left: 0;
}
.btn2,.btn2:hover{
    background-position: -216px 0;
}
.btn3,.btn3:hover{
    background-position: -432px 0;
}
.btn4,.btn4:hover{
    background-position: -648px 0;
}
